* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(51, 22, 51);
    margin: 20px 20px;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;

}
h1 {
    color: rgb(210, 214, 214);
    font-weight: 200;
    font-size: 1.5rem;
}
p {
    color: rgb(210, 214, 214);
    font-weight: 300; 
    
}

.title {
    color: azure;
    font-size: 1.5rem;
    margin-left: 20px;
}
span {
    color: cyan;
}
p {
    padding: 10px;
}
/* div {
    border: 1px solid black;
} */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;  
    background-color: rgba(36, 4, 30, 0.5); 
    width: 100%;
    margin-top: 0;
    position: fixed;
  

}
ul, li{
    display: flex;
    text-decoration: none;
    color: cyan;
    justify-content:end;
    padding: 10px;
    margin: 10px;
    font-size: .75rem;
}
li:hover {
    color: azure;
    font-size: 1.5em;
    cursor: pointer;
}
.main-container {
    display: flex;
    margin-top: 50px;
}

.sidebar {
    display: block;
    width: 30%;
    padding: 10px;
    margin-top: 70px;
    color:black;
    text-align: left;
    justify-content: space-around;
   
}
.main-section {
    float: left;
    width: 100%;
    padding: 20px;
    margin-top: 70px;
    margin-left: 20px;
    color:black;
    text-align: center;
    
}
.hero-image {  
    width:80%;
    height: 70vh;
    border-radius: 10px;
    position: cover;
    padding-bottom: 20px;
}
button {
    background-color:rgb(51, 22, 51);
    padding: 10px;
    border: 1px solid;
    border-radius: 10px;
    width: 100px;
    color: azure;
}
button:hover {
    background-color: azure;
    color:rgb(51, 22, 51);
}


fieldset {
    display: flex;
    padding: 15px;
    color: black;
    background-color: rgba(122, 24, 24, 0.4);
    width: auto;
}
.products {
    text-align: center;
    padding-bottom: 20px;
}
.gallery{
    display: flex;
   justify-content: space-around;
   margin-bottom: 10px;
}
.collections {
    display: flex;
    justify-content: space-around;
}
legend {
    color: rgb(51, 22, 51);;
}
 
footer .footer-container{
    background-color: rgb(36, 4, 30); 


}
h5 {
    color: azure;
    padding: 100px;
}
 
